<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDevelopmentProject"
        tools:targetApi="31">
        <activity
            android:name=".twentyeight"
            android:exported="false" />
        <activity
            android:name=".twentyseven"
            android:exported="false" />
        <activity
            android:name=".twentysix"
            android:exported="false" />
        <activity
            android:name=".twentyfive"
            android:exported="false" />
        <activity
            android:name=".twentyfour"
            android:exported="false" />
        <activity
            android:name=".twentythree"
            android:exported="false" />
        <activity
            android:name=".twentytwo"
            android:exported="false" />
        <activity
            android:name=".twentyone"
            android:exported="false" />
        <activity
            android:name=".twenty"
            android:exported="false" />
        <activity
            android:name=".nineteen"
            android:exported="false" />
        <activity
            android:name=".eighteen"
            android:exported="false" />
        <activity
            android:name=".seventeen"
            android:exported="false" />
        <activity
            android:name=".sixteen"
            android:exported="false" />
        <activity
            android:name=".fifteen"
            android:exported="false" />
        <activity
            android:name=".fourteen"
            android:exported="false" />
        <activity
            android:name=".thirteen"
            android:exported="false" />
        <activity
            android:name=".twelve"
            android:exported="false" />
        <activity
            android:name=".eleven"
            android:exported="false" />
        <activity
            android:name=".ten"
            android:exported="false" />
        <activity
            android:name=".nine"
            android:exported="false" />
        <activity
            android:name=".eight"
            android:exported="false" />
        <activity
            android:name=".Seventh"
            android:exported="false" />
        <activity
            android:name=".sixth"
            android:exported="false" />
        <activity
            android:name=".fifth"
            android:exported="false" />
        <activity
            android:name=".fourth"
            android:exported="false" />
        <activity
            android:name=".Third"
            android:exported="false" />
        <activity
            android:name=".Second"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>